{% comment %} core/templates/core/includes/product_card.html {% endcomment %}
{% load static %}

<div class="product-card">
    <a href="{{ product.get_absolute_url }}" class="product-card-image-link">
        {% with image=product.get_feature_image %}
            {% if image %}
                <img src="{{ image.image.url }}" alt="{{ image.alt_text }}">
            {% else %}
                <img src="{% static 'images/no_image.png' %}" alt="{{ product.title }}">
            {% endif %}
        {% endwith %}
    </a>
    <div class="product-info">
        <a href="{{ product.get_absolute_url }}" class="product-title-link">{{ product.title }}</a>
        <p class="brand">{{ product.brand }}</p>
        
        {% if product.best_price %}
            <p class="price">${{ product.best_price }}</p>
        {% else %}
            <p class="price">Unavailable</p>
        {% endif %}
    </div>
</div>
